.pizza{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: black;
    color: white;
    background: rgb(51, 51, 51);
    width: 15%;
    padding: 1rem;
    border-radius: 1rem;
    margin: 1rem;
}

.pizza__name{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 1rem;
}

.pizza__price{
    font-family: 'Courier New', Courier, monospace;
}